:root {
    --clr1: rgb(21, 12, 104);
    --clr2: rgb(236, 68, 90);
    --clr3: #fff;
    --clr4: #000;
    --clr5: lightgray;
    --clr6: yellow;
    background-color: white;
    font: sans-serif;
}body {
    font-family: Arial, sans-serif;
}
.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:rgba(255,139,148,255);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .logo {
    font-size: 2.5rem;
    color: var(--clr3);
    font-weight: 600;
    letter-spacing: .1rem;
}

span {
    color: var(--clr5);
    font-size: 2.5rem;
}

.head .navbar {
    font-size: 1rem;
    justify-content: space-between;
    font-weight: 500;
    
}

.head .navbar .active {
    border-bottom: 2px solid white;
}

.head .navbar a {
    padding-left: 1.5rem;
    color: var(--clr3);
    text-decoration: none;
    /* border: 1px solid; */
    padding: 8px 20px;
    /* border-radius: 8px; */
}

.head .navbar a:hover {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 8px;
}

#menu-bar {
    display: none;
    color: var(--clr3);
}
.promise{

    height: 30px;
    width: 403px;
    font-size: x-large;
   /* font-style: American Typewriter, serif;*/
    color: rgb(248, 98, 173);
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: 1000;
}
.my-logo{
    
    display: inline-block;
    vertical-align: top;
    /* height: 38px; */
    margin-right: 20px;
    margin-top: 7px;
    width: 5%;
    
    object-fit:fill;
    /* height: 16px; */
    
    transform: scale(2);
    padding-bottom: 4px;
   
}


.vendor{
    margin: 15px;
    margin-top: 15%;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    background-color: #f6f4f5;
    border-radius: 20px;
    >:hover{
        scale:0.96;
    
    }}

.vendor img {
    width: 59%;
    height: 33vh;
    padding-left: 55px;
}
@media screen and (max-width: 500px) {
    .vendor{
    margin: 15px;
    margin-top: 5%;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    background-color: rgba(0, 0, 0, 0.381);
    border-radius: 20px;
    >:hover{
        scale:0.96;
    }}
    .vendor img {
    width: 100%;
    height: 30vh;
}}
        .main .vendor h2{
            font-family:sans-serif,'Times New Roman', Times, serif;
            
        }
.main .vendor img:hover{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); 
    transform: scale(1.2);
}
/* @media(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .head {
        padding: 3rem;
    }

    section {
        padding: 3rem 2rem;
    }
} */


/* @media (max-width: 768px) {
    .navbar{
       display: none;
       position: absolute;
       background-color: #ffc0cb;
       top: 50px;
       left: 0;
       width: 100%;
     }
    .hamburger {
       display: block;
     }
    .nav-links ul {
       flex-direction: column;
     }
    .nav-links li {
       width: 100%;
     }
    .nav-links a {
       padding: 10px;
       border-bottom: 1px solid #333;
     }
    .nav-links a:hover {
       background-color: #4c9e9e;
     }
   } */
   @media (max-width: 768px) {
    .nav-bar {
       flex-direction: column;
     }
    .active {
       margin-right: 0;
       padding: 0px;
       font-size: 4px;
     }
   }
   @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  }
  